<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="servicemixKernel"
         name="Eclipse Platform model for Apache ServiceMix Kernel"
         point="org.apache.karaf.eik.core.platformModel">
      <model
            class="info.evanchik.eclipse.smk.ServiceMixKernelPlatformModelFactory">
         <triggerBundle
               symbolicName="org.apache.servicemix.kernel.main">
         </triggerBundle>
         <triggerBundle
               symbolicName="org.apache.servicemix.kernel.jaas.boot">
         </triggerBundle>
      </model>
   </extension>
   <extension
         id="servicemix.kernel"
         name="Eclipse Support for Apache ServiceMix Kernel"
         point="info.evanchik.eclipse.karaf.ui.service">
      <launchCustomizer
            class="info.evanchik.eclipse.smk.ServiceMixKernelWorkbenchServiceFactory">
      </launchCustomizer>
   </extension>

</plugin>
