<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target name="Eclipse Integration for Karaf Development">

   <location useDefault="true"/>

   <content useAllPlugins="true">
      <plugins>
      </plugins>
      <features>
      </features>
      <extraLocations>
         <location path="${plugin_loc:info.evanchik.eclipse.karaf.target}/runtimes/karaf"/>
      </extraLocations>
   </content>

</target>
