<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="service" name="Apache Felix Karaf Workbench Service" schema="schema/service.exsd"/>
   <extension
         point="org.eclipse.pde.core.targets">
      <target
            definition="eik.target"
            id="info.evanchik.eclipse.karaf.development.target"
            name="Eclipse Integration for Karaf Development">
      </target>
   </extension>
   <extension
         point="org.eclipse.pde.ui.launchShortcuts">
      <shortcut
            id="info.evanchik.eclipse.karaf.ui.KarafLaunchShortcut"
            label="Launch an Apache Felix Karaf application"
            mode="run"
            osgi="true">
      </shortcut>
      <shortcut
            id="info.evanchik.eclipse.karaf.ui.KarafLaunchShortcut"
            label="Launch an Apache Felix Karaf application in Debug mode"
            mode="debug"
            osgi="true">
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.pde.ui.osgiFrameworks">
      <framework
            id="info.evanchik.eclipse.karaf.Framework"
            initializer="info.evanchik.eclipse.karaf.ui.KarafLaunchConfigurationInitializer"
            launcherDelegate="info.evanchik.eclipse.karaf.ui.KarafLaunchConfigurationDelegate"
            name="Apache Karaf runtime on Equinox">
      </framework>
   </extension>
   <extension
         point="org.eclipse.pde.ui.targetProvisioners">
      <provisioner
            class="info.evanchik.eclipse.karaf.ui.wizards.provisioner.KarafInstallationProvisionerWizard"
            icon="icons/obj16/felixLogo16x16.gif"
            id="info.evanchik.eclipse.karaf.ui.karaf.installation"
            name="Apache Karaf Installation">
         <description>
            Provisions a target platform based on a Apache Karaf installation.
         </description>
      </provisioner>
   </extension>
   <extension
         id="karaf"
         name="Default Apache Felix Karaf Workbench Services"
         point="info.evanchik.eclipse.karaf.ui.service">
      <launchCustomizer
            class="info.evanchik.eclipse.karaf.ui.workbench.internal.GenericKarafWorkbenchServiceFactory">
      </launchCustomizer>
   </extension>

</plugin>
