<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="service" name="Apache Karaf Workbench Service" schema="schema/service.exsd"/>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            eclipseRuntime="false"
            headless="true"
            library="ant/lib/org.apache.ivy_2.2.1.alpha_20110704083644.jar">
      </extraClasspathEntry>
   </extension>
   <extension
         point="org.eclipse.pde.ui.launchShortcuts">
      <shortcut
            id="info.evanchik.eclipse.karaf.ui.KarafLaunchShortcut"
            label="Launch an Apache Karaf application"
            mode="run"
            osgi="true">
      </shortcut>
      <shortcut
            id="info.evanchik.eclipse.karaf.ui.KarafLaunchShortcut"
            label="Launch an Apache Karaf application in Debug mode"
            mode="debug"
            osgi="true">
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.pde.ui.osgiFrameworks">
      <framework
            id="info.evanchik.eclipse.karaf.Framework"
            initializer="info.evanchik.eclipse.karaf.ui.KarafLaunchConfigurationInitializer"
            launcherDelegate="info.evanchik.eclipse.karaf.ui.KarafLaunchConfigurationDelegate"
            name="Apache Karaf on Equinox">
      </framework>
   </extension>
   <extension
         point="org.eclipse.pde.ui.targetProvisioners">
      <provisioner
            class="info.evanchik.eclipse.karaf.ui.wizards.provisioner.KarafInstallationProvisionerWizard"
            icon="icons/obj16/karaf-logo-16x16.png"
            id="info.evanchik.eclipse.karaf.ui.karaf.installation"
            name="Apache Karaf Installation">
         <description>
            Provisions a target platform based on a Apache Karaf installation.
         </description>
      </provisioner>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="info.evanchik.eclipse.karaf.ui.KarafConfigurationTab"
            group="org.eclipse.pde.ui.launcher.EquinoxLauncherTabGroup"
            id="info.evanchik.eclipse.karaf.ui.karafGeneralLaunchConfigurationTab"
            name="Apache Karaf">
         <placement
               after="org.eclipse.pde.ui.launch.tab.tracing">
         </placement>
      </tab>
   </extension>
   <extension
         id="karaf"
         name="Default Apache Felix Karaf Workbench Services"
         point="info.evanchik.eclipse.karaf.ui.service">
      <launchCustomizer
            class="info.evanchik.eclipse.karaf.ui.workbench.internal.GenericKarafWorkbenchServiceFactory">
      </launchCustomizer>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.debug.core.ILaunchConfiguration"
            class="info.evanchik.eclipse.karaf.ui.internal.KarafLaunchConfigurationAdapterFactory">
         <adapter
               type="info.evanchik.eclipse.karaf.core.KarafPlatformModel">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IProject"
            class="info.evanchik.eclipse.karaf.ui.internal.KarafLaunchConfigurationAdapterFactory">
         <adapter
               type="info.evanchik.eclipse.karaf.ui.IKarafProject">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="info.evanchik.eclipse.karaf.ui.karafWizardsCategory"
            name="Apache Karaf">
      </category>
      <wizard
            category="info.evanchik.eclipse.karaf.ui.karafWizardsCategory"
            class="info.evanchik.eclipse.karaf.ui.wizards.NewKarafProjectWizard"
            finalPerspective="org.eclipse.pde.ui.PDEPerspective"
            icon="icons/obj16/karaf-logo-16x16.png"
            id="info.evanchik.eclipse.karaf.ui.karafPlatformProject"
            name="Apache Karaf Installation"
            project="true">
         <description>
            Import an Apache Karaf installation in to the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         id="info.evanchik.eclipse.karaf.KarafProjectNature"
         name="Apache Karaf Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="info.evanchik.eclipse.karaf.ui.project.KarafProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/obj16/karaf-logo-nature-16x16.png"
            id="info.evanchik.eclipse.karaf.ui.KarafProjectNatureImage"
            natureId="info.evanchik.eclipse.karaf.KarafProjectNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            appearsBefore="org.eclipse.ui.navigator.resourceContent"
            contentProvider="info.evanchik.eclipse.karaf.ui.navigator.KarafPlatformModelContentProvider"
            icon="icons/obj16/karaf-logo-16x16.png"
            id="info.evanchik.eclipse.karaf.ui.navigator.KarafResources"
            labelProvider="info.evanchik.eclipse.karaf.ui.navigator.KarafPlatformModelLabelProvider"
            name="Apache Karaf">
         <triggerPoints>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="info.evanchik.eclipse.karaf.KarafProjectNature">
               </test>
            </adapt>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="info.evanchik.eclipse.karaf.ui.navigator.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="info.evanchik.eclipse.karaf.ui.internal.JavaFilePropertyTester"
            id="info.evanchik.eclipse.karaf.ui.javaFilePropertyTester"
            namespace="info.evanchik.eclipse.karaf.ui"
            properties="name,directory,extension"
            type="java.io.File">
      </propertyTester>
   </extension>
   <extension
         id="karafProjectBuilder"
         name="Apache Karaf Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="info.evanchik.eclipse.karaf.ui.project.KarafProjectBuilder">
         </run>
      </builder>
   </extension>

</plugin>
