<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.core.runtimeTypes">
      <runtimeType
            class="info.evanchik.eclipse.karaf.wtp.core.KarafRuntime"
            description="Apache Felix Karaf v1.2 OSGi Application framework"
            id="info.evanchik.eclipse.server.karaf.runtime.12"
            name="Apache Felix Karaf v1.2"
            vendor="Apache"
            vendorId="apache"
            version="1.2.0">
         <moduleType
               types="jst.web"
               versions="2.2, 2.3, 2.4, 2.5">
         </moduleType>
         <moduleType
               types="jst.utility"
               versions="1.0">
         </moduleType>
         <moduleType
               types="info.evanchik.eclipse.karaf.wtp.core.facets.bundle"
               versions="1.0">
         </moduleType>
      </runtimeType>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <runtime-component-type
            id="info.evanchik.eclipse.server.karaf">
      </runtime-component-type>
      <runtime-component-version
            type="info.evanchik.eclipse.server.karaf"
            version="1.2">
      </runtime-component-version>
      <adapter>
         <runtime-component
               id="info.evanchik.eclipse.server.karaf">
         </runtime-component>
         <factory
               class="org.eclipse.jst.server.core.internal.RuntimeClasspathProvider$Factory">
         </factory>
         <type
               class="org.eclipse.jst.common.project.facet.core.IClasspathProvider">
         </type>
      </adapter>
      <supported>
         <runtime-component
               id="info.evanchik.eclipse.server.karaf"
               version="1.2">
         </runtime-component>
         <facet
               id="jst.web"
               version="2.2,2.3,2.4,2.5">
         </facet>
         <facet
               id="jst.utility"
               version="1.0">
         </facet>
         <facet
               id="info.evanchik.eclipse.karaf.wtp.core.facets.bundle"
               version="1.0">
         </facet>
      </supported>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.launchableAdapters">
      <launchableAdapter
            class="info.evanchik.eclipse.karaf.wtp.core.KarafLaunchableAdapterDelegate"
            id="info.evanchik.eclipse.server.karaf.web">
      </launchableAdapter>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.publishTasks">
      <publishTask
            class="info.evanchik.eclipse.karaf.wtp.core.tasks.KarafPublishTask"
            id="info.evanchik.eclipse.karaf.ui.publishTask"
            typeIds="info.evanchik.eclipse.server.karaf.*">
      </publishTask>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.serverTypes">
      <serverType
            behaviourClass="info.evanchik.eclipse.karaf.wtp.core.KarafServerBehavior"
            class="info.evanchik.eclipse.karaf.wtp.core.KarafServer"
            description="Apache Felix Karaf v1.2 server"
            hasConfiguration="true"
            id="info.evanchik.eclipse.server.karaf.12"
            initialState="stopped"
            launchConfigId="info.evanchik.eclipse.karaf.wtp.core.KarafServerLauncher"
            name="Apache Felix Karaf v1.2"
            runtime="true"
            runtimeTypeId="info.evanchik.eclipse.server.karaf.runtime.12"
            startTimeout="45000"
            stopTimeout="15000"
            supportsRemoteHosts="false">
      </serverType>
   </extension>
   <extension
         point="org.eclipse.jst.server.core.runtimeClasspathProviders">
      <runtimeClasspathProvider
            class="info.evanchik.eclipse.karaf.wtp.core.KarafRuntimeClasspathProvider"
            id="info.evanchik.eclipse.server.karaf.runtimeTarget"
            runtimeTypeIds="info.evanchik.eclipse.server.karaf.runtime.*">
      </runtimeClasspathProvider>
   </extension>
   <extension
         point="org.eclipse.jst.server.core.runtimeFacetMappings">
      <runtimeFacetMapping
            runtime-component="info.evanchik.eclipse.server.karaf"
            runtimeTypeId="info.evanchik.eclipse.server.karaf.runtime.12"
            version="1.2">
      </runtimeFacetMapping>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="info.evanchik.eclipse.karaf.wtp.core.KarafServerLaunchConfiguration"
            delegateDescription="The Karaf Server Launcher supports running and debugging Karaf Servers"
            delegateName="Karaf Server Launcher"
            id="info.evanchik.eclipse.karaf.wtp.core.KarafServerLauncher"
            modes="run, debug, profile"
            name="Apache Felix Karaf"
            public="true"
            sourceLocatorId="org.eclipse.pde.ui.launcher.PDESourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="info.evanchik.eclipse.karaf.wtp.core.KarafServerLauncher"
            icon="icons/obj16/felixLogo16x16.gif"
            id="info.evanchik.eclipse.karaf.wtp.core.KarafLauncherImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.runtimeLocators">
      <runtimeLocator
            class="info.evanchik.eclipse.karaf.wtp.core.KarafRuntimeLocator"
            id="info.evanchik.eclipse.karaf.wtp.core.runtime.locator"
            typeIds="info.evanchik.eclipse.server.karaf.runtime.*">
      </runtimeLocator>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.facets">
      <project-facet
            id="info.evanchik.eclipse.karaf.wtp.core.facets.bundle">
         <description>
            Supports deploying an OSGi Bundle on a Apache Felix Karaf server
         </description>
         <label>
            OSGi Bundle
         </label>
         <member
               category="info.evanchik.eclipse.karaf.wtp.core.category">
         </member>
      </project-facet>
      <category
            id="info.evanchik.eclipse.karaf.wtp.core.category">
         <description>
            Projects that can be deployed to an Apache Felix Karaf Server
         </description>
         <label>
            Apache Felix Karaf
         </label>
      </category>
      <project-facet-version
            facet="info.evanchik.eclipse.karaf.wtp.core.facets.bundle"
            version="1.0">
      </project-facet-version>
      <action
            facet="info.evanchik.eclipse.karaf.wtp.core.facets.bundle"
            type="install">
         <delegate
               class="info.evanchik.eclipse.karaf.wtp.core.internal.BundleFacetInstallDelegate">
         </delegate>
      </action>
      <action
            facet="info.evanchik.eclipse.karaf.wtp.core.facets.bundle"
            type="uninstall">
         <delegate
               class="info.evanchik.eclipse.karaf.wtp.core.internal.BundleFacetUninstallDelegate">
         </delegate>
      </action>
   </extension>
   <extension
         point="org.eclipse.hyades.trace.ui.launchConfigMechanismAssociator">
      <association
            launchConfigID="info.evanchik.eclipse.karaf.wtp.core.KarafServerLauncher">
         <mechanism
               mechanismID="org.eclipse.tptp.trace.ui.jvmpiMechanism">
            <configuration
                  associatedAgent="org.eclipse.tptp.trace.ui.jvmpiAgent"
                  configurationId="org.eclipse.tptp.trace.ui.jvmpiConfiguration"
                  filter="org.eclipse.tptp.platform.profile.server.core.internal.PICollectorFiltration"
                  launchDelegate="org.eclipse.tptp.trace.ui.internal.launcher.deleg.application.PIAttachLauncherDelegate">
            </configuration>
         </mechanism>
         <mechanism
               mechanismID="org.eclipse.tptp.trace.jvmti.jvmtiMechanism">
            <configuration
                  associatedAgent="org.eclipse.tptp.platform.jvmti.TIAgent"
                  configurationId="org.eclipse.tptp.trace.jvmti.tiConfiguration"
                  filter="org.eclipse.tptp.platform.profile.server.core.internal.TICollectorFiltration"
                  launchDelegate="org.eclipse.tptp.platform.jvmti.client.internal.launcher.TIAttachLauncherDelegate">
            </configuration>
         </mechanism>
      </association>
   </extension>

</plugin>
