<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="KarafMain"
         name="Equinox main Application for Apache Felix Karaf"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.apache.karaf.eik.app.MainApplication">
         </run>
      </application>
   </extension>

</plugin>
