<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            eclipseRuntime="false"
            headless="true"
            library="ant/lib/org.apache.ivy_2.2.1.alpha_20110704083644.jar">
      </extraClasspathEntry>
   </extension>
   <extension
         point="info.evanchik.eclipse.karaf.ui.service">
      <launchCustomizer
            class="info.evanchik.eclipse.karaf.obr.impl.ObrWorkbenchServiceFactory">
      </launchCustomizer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="info.evanchik.eclipse.karaf.workbench.karafPerspective">
      </perspectiveExtension>
   </extension>

</plugin>
