<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.pde.core.targets">
      <target
            definition="runtimes/apache-servicemix.target"
            id="info.evanchik.eclipse.karaf.servicemix.target"
            name="Apache ServiceMix 4.0.0">
      </target>
   </extension>

</plugin>
