<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.pde.ui.osgiFrameworks">
      <framework
            id="info.evanchik.eclipse.felix.framework"
            initializer="info.evanchik.eclipse.felix.FelixInitializer"
            launcherDelegate="info.evanchik.eclipse.felix.FelixLaunchConfiguration"
            name="Apache Felix">
      </framework>
   </extension>

</plugin>
