<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="name.neilbartlett.eclipse.osgiruntime"
            class="name.neilbartlett.eclipse.bundlemonitor.views.bundle.BundlesView"
            icon="icons/bundle_obj.gif"
            id="name.neilbartlett.eclipse.bundlemonitor.bundlesView"
            name="Bundles">
      </view>
      <category
            id="name.neilbartlett.eclipse.osgiruntime"
            name="OSGi Runtime">
      </category>
      <view
            category="name.neilbartlett.eclipse.osgiruntime"
            class="name.neilbartlett.eclipse.bundlemonitor.views.services.ServicesView"
            icon="icons/generic_elements.gif"
            id="name.neilbartlett.eclipse.bundlemonitor.servicesView"
            name="Services">
      </view>
      <view
            category="name.neilbartlett.eclipse.osgiruntime"
            class="name.neilbartlett.eclipse.bundlemonitor.views.config.ConfigView"
            icon="icons/file_obj.gif"
            id="name.neilbartlett.eclipse.bundlemonitor.configsView"
            name="Configuration">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="name.neilbartlett.eclipse.bundlemonitor.bundleContrib"
            objectClass="name.neilbartlett.eclipse.bundlemonitor.providers.internal.EclipseOSGiBundleWrapper">
         <action
               class="name.neilbartlett.eclipse.bundlemonitor.views.bundle.actions.DiagnoseBundlesActionDelegate"
               id="name.neilbartlett.eclipse.bundlemonitor.diagnoseAction"
               label="Diagnose">
         </action>
         <action
               class="name.neilbartlett.eclipse.bundlemonitor.views.bundle.actions.UninstallBundleAction"
               id="name.neilbartlett.eclipse.bundlemonitor.uninstallAction"
               label="Uninstall">
         </action>
         <action
               class="name.neilbartlett.eclipse.bundlemonitor.views.bundle.actions.StopBundleAction"
               id="name.neilbartlett.eclipse.bundlemonitor.stopAction"
               label="Stop">
         </action>
         <action
               class="name.neilbartlett.eclipse.bundlemonitor.views.bundle.actions.StartBundleAction"
               id="name.neilbartlett.eclipse.bundlemonitor.startAction"
               label="Start">
         </action>
         <action
               class="name.neilbartlett.eclipse.bundlemonitor.views.bundle.actions.ResolveBundlesObjectActionDelegate"
               id="name.neilbartlett.eclipse.bundlemonitor.resolveAction"
               label="Resolve">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="name.neilbartlett.eclipse.bundlemonitor.viewContribution1"
            targetID="name.neilbartlett.eclipse.bundlemonitor.bundlesView">
         <action
               class="name.neilbartlett.eclipse.bundlemonitor.views.bundle.actions.ResolveAllBundlesViewActionDelegate"
               icon="icons/bundle_resolve.gif"
               id="name.neilbartlett.eclipse.bundlemonitor.action2"
               label="Resolve All"
               style="push"
               toolbarPath="additions"
               tooltip="Resolve all bundles">
         </action>
      </viewContribution>
      <viewContribution
            id="name.neilbartlett.eclipse.bundlemonitor.viewContribution1"
            targetID="name.neilbartlett.eclipse.bundlemonitor.bundlesView">
         <action
               class="name.neilbartlett.eclipse.bundlemonitor.views.bundle.actions.InstallFromURLActionDelegate"
               enablesFor="*"
               icon="icons/add.gif"
               id="name.neilbartlett.eclipse.bundlemonitor.rwt.installBundleAction"
               label="Install from URL"
               style="push"
               toolbarPath="additions"
               tooltip="Install from URL">
         </action>
      </viewContribution>
      <viewContribution
            id="name.neilbartlett.eclipse.bundlemonitor.viewContribution1"
            targetID="name.neilbartlett.eclipse.bundlemonitor.configsView">
         <action
               class="name.neilbartlett.eclipse.bundlemonitor.views.config.CreateConfigViewAction"
               icon="icons/add.gif"
               id="name.neilbartlett.eclipse.bundlemonitor.createConfig"
               label="Create"
               style="push"
               toolbarPath="additions"
               tooltip="Install Configuration">
         </action>
         <action
               class="name.neilbartlett.eclipse.bundlemonitor.views.config.DeleteConfigViewAction"
               icon="icons/delete_edit.gif"
               id="name.neilbartlett.eclipse.bundlemonitor.deleteConfig"
               label="Delete"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="name.neilbartlett.eclipse.bundlemonitor.editors.config.ConfigurationEditor"
            default="false"
            icon="icons/file_obj.gif"
            id="name.neilbartlett.eclipse.bundlemonitor.configEditor"
            name="Configuration">
      </editor>
   </extension>

</plugin>
