<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="monitoring"
         name="JMX Monitoring and Management"
         point="info.evanchik.eclipse.karaf.ui.service">
      <launchCustomizer
            class="info.evanchik.eclipse.karaf.workbench.factory.JMXWorkbenchServiceFactory">
      </launchCustomizer>
   </extension>
   <extension
         id="runtimeData"
         name="OSGi C&amp;C Runtime Data provider"
         point="info.evanchik.eclipse.karaf.ui.service">
      <launchCustomizer
            class="info.evanchik.eclipse.karaf.workbench.factory.MBeanProviderWorkbenchServiceFactory">
      </launchCustomizer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="info.evanchik.eclipse.karaf.workbench.karaf"
            name="Apache Karaf">
      </category>
      <view
            allowMultiple="false"
            category="info.evanchik.eclipse.karaf.workbench.karaf"
            class="info.evanchik.eclipse.karaf.workbench.ViewPart1"
            icon="icons/obj16/bundle_obj.gif"
            id="info.evanchik.eclipse.karaf.workbench.karafBundles"
            name="Bundles"
            restorable="true">
      </view>
   </extension>

</plugin>
