<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="monitoring"
         name="JMX Monitoring and Management"
         point="info.evanchik.eclipse.karaf.ui.service">
      <launchCustomizer
            class="info.evanchik.eclipse.karaf.workbench.factory.JMXWorkbenchServiceFactory">
      </launchCustomizer>
   </extension>
   <extension
         id="runtimeData"
         name="OSGi C&amp;C Runtime Data provider"
         point="info.evanchik.eclipse.karaf.ui.service">
      <launchCustomizer
            class="info.evanchik.eclipse.karaf.workbench.factory.MBeanProviderWorkbenchServiceFactory">
      </launchCustomizer>
   </extension>

</plugin>
