<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="icons/obj16/felixLogo16x16.gif"
            id="org.apache.karaf.eik.server.2"
            typeIds="org.apache.karaf.eik.server.2">
      </image>
      <image
            icon="icons/obj16/felixLogo16x16.gif"
            id="org.apache.karaf.eik.wtp.server.runtime.2"
            typeIds="org.apache.karaf.eik.wtp.server.runtime.2">
      </image>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.ui.images">
      <image
            path="icons/obj16/felixLogo16x16.gif"
            runtime-component-type="org.apache.karaf.eik.server.karaf">
      </image>
      <image
            category="org.apache.karaf.eik.wtp.core.category"
            path="icons/obj16/felixLogo16x16.gif">
      </image>
      <image
            facet="org.apache.karaf.eik.wtp.core.facets.bundle"
            path="icons/obj16/felixLogo16x16.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
            class="org.apache.karaf.eik.wtp.ui.KarafRuntimeWizardFragment"
            id="org.apache.karaf.eik.server.karaf.runtime.12"
            typeIds="org.apache.karaf.eik.server.karaf.runtime.12">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <adapter>
         <runtime-component
               id="org.apache.karaf.eik.server.karaf">
         </runtime-component>
         <factory
               class="org.eclipse.jst.server.ui.internal.RuntimeLabelProvider$Factory">
         </factory>
         <type
               class="org.eclipse.wst.common.project.facet.ui.IRuntimeComponentLabelProvider">
         </type>
      </adapter>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.apache.karaf.eik.wtp.ui.launcher.KarafLauncherTabGroup"
            id="org.apache.karaf.eik.wtp.ui.KarafLauncherTabGroup"
            type="org.apache.karaf.eik.wtp.core.KarafServerLauncher">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
