<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.core.runtimeTypes">
      <runtimeType
            class="org.apache.karaf.eik.wtp.core.runtime.KarafRuntime"
            description="Apache Karaf OSGi Application framework"
            id="org.apache.karaf.eik.wtp.server.runtime.2"
            name="Apache Karaf"
            vendor="Apache"
            vendorId="apache"
            version="2.x">
         <moduleType
               types="jst.web"
               versions="2.2, 2.3, 2.4, 2.5">
         </moduleType>
         <moduleType
               types="jst.utility"
               versions="1.0">
         </moduleType>
         <moduleType
               types="org.apache.karaf.eik.wtp.core.facets.bundle"
               versions="1.0">
         </moduleType>
      </runtimeType>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.runtimeLocators">
      <runtimeLocator
            class="org.apache.karaf.eik.wtp.core.runtime.KarafRuntimeLocator"
            id="org.apache.karaf.eik.wtp.core.runtimeLocator"
            typeIds="org.apache.karaf.eik.wtp.server.runtime.*">
      </runtimeLocator>
   </extension>
   <extension
         point="org.eclipse.jst.server.core.runtimeClasspathProviders">
      <runtimeClasspathProvider
            class="org.apache.karaf.eik.wtp.core.runtime.KarafRuntimeClasspathProvider"
            id="org.apache.karaf.eik.wtp.server.runtimeTarget"
            runtimeTypeIds="org.apache.karaf.eik.wtp.server.runtime.*">
      </runtimeClasspathProvider>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.serverTypes">
      <serverType
            behaviourClass="org.apache.karaf.eik.wtp.core.server.KarafServerBehavior"
            class="org.apache.karaf.eik.wtp.core.server.KarafServer"
            description="Apache Karaf server"
            hasConfiguration="true"
            id="org.apache.karaf.eik.server.2"
            initialState="stopped"
            launchConfigId="org.apache.karaf.eik.wtp.core.KarafServerLauncher"
            name="Apache Karaf"
            runtime="true"
            runtimeTypeId="org.apache.karaf.eik.wtp.server.runtime.2"
            startTimeout="45000"
            stopTimeout="15000"
            supportsRemoteHosts="false">
      </serverType>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.serverLocators">
      <serverLocator
            class="org.apache.karaf.eik.wtp.core.server.KarafServerLocator"
            id="org.apache.karaf.eik.wtp.core.server.locator"
            supportsRemoteHosts="false"
            typeIds="org.apache.karaf.eik.karaf.server.*">
      </serverLocator>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.launchableAdapters">
      <launchableAdapter
            class="org.apache.karaf.eik.wtp.core.server.KarafLaunchableAdapterDelegate"
            id="org.apache.karaf.eik.server.karaf.web">
      </launchableAdapter>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.apache.karaf.eik.wtp.core.KarafServerLaunchConfiguration"
            delegateDescription="The Karaf Server Launcher supports running and debugging Karaf Servers"
            delegateName="Karaf Server Launcher"
            id="org.apache.karaf.eik.wtp.core.KarafServerLauncher"
            modes="run, debug, profile"
            name="Apache Felix Karaf"
            public="true"
            sourceLocatorId="org.eclipse.pde.ui.launcher.PDESourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.publishTasks">
      <publishTask
            class="org.apache.karaf.eik.wtp.core.tasks.KarafPublishTask"
            id="org.apache.karaf.eik.ui.publishTask"
            typeIds="org.apache.karaf.eik.server.karaf.*">
      </publishTask>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <runtime-component-type
            id="org.apache.karaf.eik.server.karaf">
      </runtime-component-type>
      <runtime-component-version
            type="org.apache.karaf.eik.server.karaf"
            version="1.2">
      </runtime-component-version>
      <adapter>
         <runtime-component
               id="org.apache.karaf.eik.server.karaf">
         </runtime-component>
         <factory
               class="org.eclipse.jst.server.core.internal.RuntimeClasspathProvider$Factory">
         </factory>
         <type
               class="org.eclipse.jst.common.project.facet.core.IClasspathProvider">
         </type>
      </adapter>
      <supported>
         <runtime-component
               id="org.apache.karaf.eik.server.karaf"
               version="1.2">
         </runtime-component>
         <facet
               id="jst.web"
               version="2.2,2.3,2.4,2.5">
         </facet>
         <facet
               id="jst.utility"
               version="1.0">
         </facet>
         <facet
               id="org.apache.karaf.eik.wtp.core.facets.bundle"
               version="1.0">
         </facet>
      </supported>
   </extension>
   <extension
         point="org.eclipse.jst.server.core.runtimeFacetMappings">
      <runtimeFacetMapping
            runtime-component="org.apache.karaf.eik.server.karaf"
            runtimeTypeId="org.apache.karaf.eik.server.karaf.runtime.12"
            version="1.2">
      </runtimeFacetMapping>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.apache.karaf.eik.wtp.core.KarafServerLauncher"
            icon="icons/obj16/felixLogo16x16.gif"
            id="org.apache.karaf.eik.wtp.core.KarafLauncherImage">
      </launchConfigurationTypeImage>
   </extension>

</plugin>
